html, body { 
  height:100%; 
  padding:0;
  margin:0;
}

.bgimage {
    text-align:right;
    color:white;
    background-size:cover!important;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    width:350px;
    height:200px;
    margin: 0 auto;
}
.carousel-demo{
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
  width:100%;
  height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
  width:100%;
  height:100%;
}

#carousel-left,#carousel-right{
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    z-index:1000000;
}
#carousel-left{left:120px;}
#carousel-right{right:120px;}
@media(max-width:1000px){
  #carousel-left{left:40px;}
  #carousel-right{right:40px;}
}
#carousel-right img{ 
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media(max-width:641px){
  #carousel-left{display:none;}
  #carousel-right{display:none;}
  ul[rn-carousel]{
    width:275px;
  }
}
.bgimage:hover{
  -webkit-opacity:.8;
  opacity:.8;
}