a.remove_img{
	position:absolute;
	right:0px;top:0;
	background:rgba(0,0,0,0.7);
	padding:5px;color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.gaimg{
	float: left;
    overflow: hidden;
    position: relative;
    margin: 2px 5px;
    width: 20%;
    height:120px;
    border: 2px solid #eee;
    padding: 5px;
    text-align:center;
	img{
		height:100%;
	}
	&:hover{
		-webkit-box-shadow: 0px 0px 2px #23282D;
		box-shadow: 0px 0px 2px #23282D;
	}
}
#imgposition{
	float: left; 
	overflow: hidden; 
	position: relative; 
	margin-right: 20px;
}