@mixin vendors($opcion, $data){
   $var : (-webkit-, -moz-,-ms-,'');
   @each $k, $v in $var{
       #{$k}#{$opcion}:$data;
   }
}
$verde : #01A28A;
$rojo:#EA3B38;
$gotanmedium:'gotham_htfmedium';
$gotanbold : 'gotham_htfbold';
$gotambolditalic:'gotham_htfbold_italic';
$gotambook:'gotham_htfbook';
$gotamlightitalic:'gotham_htflight_italic';
$gotamlight:'gotham_htflight';
.verde{
	color: #01A28A;
}
.gris{
	color:#808080;
	font-family:$gotambook;
}
::-webkit-input-placeholder {
   	color: #808080;
   	font-family:$gotambook;
}
:-moz-placeholder { /* Firefox 18- */
   color: #808080; 
   font-family:$gotambook; 
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #808080; 
   font-family:$gotambook; 
}
:-ms-input-placeholder {  
   color: #808080;  
   font-family:$gotambook;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
  transform: translateY(-50%);}
  40% {-webkit-transform: translateY(-60%);
  transform: translateY(-60%);}
  60% {-webkit-transform: translateY(-40%);
  transform: translateY(-40%);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);}
  40% {-webkit-transform: translateY(-60%);
  	transform: translateY(-60%);}
  60% {-webkit-transform: translateY(-40%);
  	transform: translateY(-40%);}
}
@media(max-width:640px){
	.row{
		padding:10px;
	}	
}
.bounce{
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-duration: 1.2s;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;

    
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;

    -webkit-animation-name: bounce;
  	animation-name: bounce;
  	cursor:pointer;
}
body{
	font-family:$gotamlight;
	background-color:#F3F3F3;
	margin: 0; padding: 0;
}
::-webkit-scrollbar{
    width:7px;
    background:#ddd;
    border-radius:5px;
    cursor:pointer;
}
 
::-webkit-scrollbar-thumb {
    background:$verde;
    cursor:pointer;
    border-radius:5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background:$verde;
    cursor: pointer;
}
.row{
	position:relative;
}
.oculto{
	@include vendors(transform, translateX(-100%));
}
.telon{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5) !important;
    z-index: 111111111;
   
}
.no-show{
	display:none;
}
.empuje{
	@include vendors(transform, translateX(220px));
}
.wrapper{
	position:relative;
	overflow:hidden;
	height: auto;
}
.el{
	position:relative;
	@include vendors(transition, .4s linear);
}
.menu-item-47{
	a{
    	cursor: default;
    	&:hover{ background-color:transparent!important;}
    }
	&:hover{
    	background-color: transparent!important;
    	cursor: inherit!important;
	}
	ul li a{
		cursor:pointer;
		&:hover{
			color:rgb(42, 42, 86)!important;
		}
	}
}
.tab-bar{
    z-index: 10000000;
    background-color: rgba(5,5,23,0.88);
    width: 100%;
    position: fixed;
	img{ height: 50%;
    position: absolute;
    top: 13px;
    left: 50%;
    @include vendors(transform,translateX(-50%));}
	.menu-icon{
		z-index: 1111;
	}
	.movil{
		background-color:#161629;
    	position: fixed;
    	top: 0;
    	padding-top: 50px;
    	height: 100%;
    	@include vendors(transition, .4s linear);
	}
	ul{
		list-style: none;
    	margin: 0;
    	li{
    		padding:6px 20px;
    		width: 100%;
    		a{ color:#fff;font-size:18px;}
    		.sub-menu{
    			list-style: none;
    			padding-top: 10px;
    			li{
    				padding-bottom:0px;
    			}
    		}    		
    	}
    	.current_page_item{
    		border-radius:0px;
    	}
	}
	display:none;
	@media(max-width:1024px){
		display:block;
	}
}
// .left-off-canvas-menu,.left-submenu,
// .left-submenu .back>a{
// 	background: #17171F!important;
// }
// ul.off-canvas-list li a:hover, .left-submenu .back>a:hover{
// 	background-color: $rojo!important;
// 	color: #fff;
// }

.gema{
	position: absolute;
    bottom: 20px;
    width: 130px;
}
.izq{left:20px;}
.der{right:20px;}
.steps{
	background-color: #EA3B38;
    font-family: latobold;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 3px 15px;
    left: 60px;
    top: 60px;
    font-size: 24px;
}
#content-menu-1{
	background-color:rgba(0, 0, 0, 0.66);
	padding: 10px 50px;
	position: absolute;
    width: 100%;
    z-index: 1000;
	#menu-1{
		margin:0;
	    li{
	        margin: 0!important;
	    	padding: 0!important;
	    	text-align: center;
	    	position: relative;
	    	a{
	    		color:#fff;
	    		font-family:$gotanbold;
	    		line-height:2;
	    		&:hover{
	    			background-color: #EA3B38;
    				display:block;
    				border-radius: 3px;
	    		}
	    	}
	    	.sub-menu{
	    		position: absolute;
			    z-index: 10;
			    background-color: #EA3B38;
			    margin: 0;
			    list-style: none;
			    border-radius: 5px;
			    padding: 5px 9.5px;
			    font-size: 13px;
			    margin-top: -5px;
			    display: none;
			    width:100%;
	    	}
	    	&:hover>.sub-menu{
	    		display:block;
	    	}
	    }
	}
}
@media(min-width:640px){
	.center{
		position:absolute;
		top:50%;
		left:50%;
	    -webkit-transform:translate(-50%,-50%);
	    -moz-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    transform:translate(-50%,-50%);
	}
}
.over{
   	background-color: rgba(55, 54, 112, 0.79);
   	position: absolute;
   	top: 0;
   	left: 0;
   	width: 100%;
  	height: 100%;
  	@media(max-width:640px){
  		padding:30px 5px;
  		padding-bottom:100px;
  		position:relative;
  	}
}
#bons{
	position: absolute;
	width: 70px;
	left: 50%;
	bottom:0;
	@include vendors(transform,translateX(-50%));		
}

.home{	
	position:relative;
	section:nth-of-type(2){
		padding:50px 0;		
	}
	#home{
	    height: 100vh;
	    color: #fff;
	    background-repeat: no-repeat;
	    position: relative;
	    h1{
			color: $verde;
   			font-family: $gotanbold;
   			font-size: 52px;
   			line-height: .9;
    		margin-top:-30px;
    		@media(max-width:640px){
    			margin-top:20px;
    			font-size:40px;
    			margin-bottom:10px;
    		}
		}
		p{
			font-size:20px;
		}
		.btn-red{
			width: 300px;
    		margin:40px auto 0 auto;
		}
		@media(max-width:640px){
			height:auto;
		}
	}
	section:nth-of-type(2){
		border-top: 6px solid $verde;
	}
	section:nth-of-type(3){
		padding: 50px 0;		
	}
	@media(min-width:641px){
		.center{
			padding-top:50px;
		}
	}
	@media(max-width:0px){
		.center{width: 90%;}
	}
}
canvas{
	position: absolute;
	top: 0;
	height: 100%!important;
	width:100%!important;
	z-index:-1;
}
.childtips{
	@media(min-width:641px){
		height: 450px;
		overflow-y:scroll;
	}
	font-size:20px;
	padding:5px 20px;			
    color: #000;    			
    		
	i{
		font-family:$gotambook;
		color:$verde;
		font-size: 30px;
	}
	strong{
		font-family:$gotambolditalic;
		color:$verde;
	}
	em{
		font-family: $gotamlightitalic;
		color:$verde;
	}
}
.title{
	color: $verde;
	font-family: gotham_htfmedium;
	a{color: $verde;}
}
.content-fondear{
	position: relative;
	img{
		max-width: 100%;
		width: 100%;
	}
	@media(max-width:640px){
		img{max-width:initial;
		width:initial;}
	}
}
.convocatoria{
	section{
		position:relative;
		height:100vh;
	}	
	.btn-red{
		position:relative;
		margin:0 auto;
		width: 60%;
		line-height:1.4;
		@media(min-width:641px){
			position:absolute;
			left:50%;
			@include vendors( transform, translateX(-50%) );
		}
	}
	section:nth-of-type(1){
		background:url(img/games-starter-convocatoria.jpg);
		background-size:cover;
		background-position:center;
		p{color: #fff;
   		font-size: 26px;
   		text-align: center;}
	}
	section:nth-of-type(2),section:nth-of-type(6){		
		color: #000;
    	font-size: 28px;
	}
	section:nth-of-type(3){
		background-color:#22272A;
		color:#fff;
		font-size: 28px;		
	}
	section:nth-of-type(4){
		h1{
			margin-top:-20px;
			margin-bottom:20px;
		}
		font-size:26px;color:#000;
		ul{
			margin:20px 0 0 0!important;
			padding-left:30px;
			li{		
				span{ color:#000;}
				font-size:26px;				
	    		color: #EA3B38;
	    		text-align: left;
	    		margin:0!important;    		
	    		@media(min-width:701px){
	    			width: 50%;
	    			float: left;
	    		}    		
    		}
    	}
    	@media(max-width:640px){
    		padding-bottom:40px;
    		h1{margin-top:5px;}    					
    	}
	}
	section:nth-of-type(5){
		background:#373670;
		font-size:28px;
		color:#fff;
		font-size:28px;
		ul{    
			margin:30px 0 0 0!important;
    		padding-left: 30px;
			text-align: left; font-size:22px;
			li{ 
				color:$rojo;
				span{
					color:#fff;
				} 
			}
		}
	}
	section:nth-of-type(7){
		padding: 30px 5px;
		background-color: #DDDDDD;
		height:auto;
		form{
			position: relative;
			p{font-size:20px;}
    		input,textarea,select{
    			border: 1px solid #ADADAD;
    			margin: 0!important;
    			font-size: 16px!important;
    			line-height: 2;
    		}
    		textarea{
    			height: 150px;
    		}
    		select{
    			height: 46px;
    			margin-bottom: 20px!important;
    		}
    		input[type="submit"]{
				background-color: #EA3B38;
	    		font-size: 20px!important;
	    		color: #fff;
	    		font-family: gotham_htfbold;
	    		width: 50%;
	    		border-radius: 5px;
	    		line-height:2;
	    		position: relative;
			}
		}
	}
	@media(max-width:640px){
		section{
			height:auto;			
			.center{
				padding:50px 5px;
				width: 100%;			
				.title{
					text-align:center;
				}
				p{
					font-size:24px;
					padding:0 10px;
				}
			}
			.steps{
				left:20px;
				top:20px;
			}			
		}
	}
	@media(max-width:840px){
		.center{width:95%;}
		.gema{width:40px;}
	}
}
input[type="submit"]{
	background-color: #EA3B38;
	font-size: 20px!important;
	color: #fff;
	font-family: gotham_htfbold;
	width: 50%;
	border-radius: 5px;
	line-height:2;
	border: none;
	position: relative;
}

.blog{
	background-color:#DDDDDD;
	.header{
		background-image: url(img/headerblog.jpg);
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 400px;
		border-bottom: 5px solid #01A28A;
		margin-bottom:50px;
		position:relative;
		.single{
			bottom: 0;
			position: absolute;
			@media(max-width:640px){
    			position:relative;text-align:center;
    		}
    		width: 100%;
    		padding: 0 15px 0 20px;
    		h1{
    			font-size: 40px;
    			margin:0;
    		}
		}
		.row{
			padding:40px 0 0 0;
			h1{
				font-family: gotham_htfmedium;
	    		color: #fff;
	    		font-size: 40px;
	    		line-height: initial;	    		
			}
			form{
				padding-top:1.2px;
				input{
					border: none;
    				font-size: 16px;
    				border-radius: 5px;
    				line-height: 1.5;
    				height: initial;
    				text-align: center;
    				width: 80%;
    				margin: 10px auto;
				}
				input[type="submit"]{
					border: none;
    				border-radius: 5px;
    				font-size: 20px;
    				margin: 0 auto;
    				line-height: 1.8;
				}
			}
		}
		@media(max-width:640px){
	    	h1{text-align:center;}
	    	height: auto;
	    	padding-bottom: 40px;
	    	margin-top: -3px;
	    }
	}
	.row{
		padding-bottom:30px;
		.lined{
			&:before{
	    		content: '';
	    		position: absolute;
	    		top: 50%;
	    		left: 49.4%;
	    		height: 100%;
	    		width: 5px;
	    		border-right: 2px dashed #EA3B38;
	    		@media(max-width:640px){
					display:none;
				}
			}			
		}
		.no-line{
			&:before{
				display:none;
			}
		}
	}
	.foto{
		height:140px;
    	width:140px;
    	border-radius: 50%;
    	background-position:center!important;
    	background-size: cover!important;
    	position:relative;
    	z-index: 10; 
    	margin:5px auto;   	
	}
	.more{
		background-color:#373670;
		color:#fff;
		font-family:$gotanbold;
		border-radius:5px;
		width: 100px;  
		font-size: 14px;
    	letter-spacing: .2px;  
    	padding:3px 10px;	    	
	}
	h5{font-size:25px;margin-top:20px;margin-bottom:0;}
	p{
		font-family:$gotambook;
		font-size:18px;
	}
	.btn-red{
		width: 200px;
    	margin: 20px auto;
	}
	.btn-red.coments{
		position: absolute;
    	width: 50px;
    	line-height: 0;
    	padding: 10px!important;
    	text-align: center;
    	right: 100px;
    	bottom: 0;
    	margin: 0;
    	height: 27px;
    	margin-right: 25px;
    	div{
    		opacity:0;
    		position: absolute;
		    top: -120%;
		    left: 50%;
		    background-color: rgba(0, 0, 0, 0.89);
		    color: #fff;
		    width: 0px;
		    font-size:0;
		    line-height: 2;
    		@include vendors(transform, translateX(-50%));
    		@include vendors(transition,.3s);
    		z-index: -1;
    	}
    	&:hover{
    		overflow:inherit;
    		div{
    			opacity:1;
    			width: 150px;
    			z-index: 1;
    			font-size: 14px;
    		}
    	}
    	&:before{
    		width: 0;
    		height: 0;
    		border-left: 10px solid #EA3B38;
    		border-top: 5px solid transparent;
    		border-bottom: 5px solid transparent;
    		position: absolute;
    		content: '';
    		bottom: -4px;
    		left: 0px;
    	}
	}
}
.comentarios{
	display: none;
    height: 180px;
    width: 60%;
    position: absolute;
    top: -37%;
    background-color: rgba(234, 59, 56, 0.93);
    right: 25%;
    z-index: 120;
    padding:5px;
    .cerrar{
    	position: absolute;
    	right: 0;
    	top: 0;
    	color: #fff;
    	font-size: 18px;
    	font-style: inherit;
    	padding: 1px 8px;
    	cursor: pointer;
    }
    p{
    	margin-top: 30px;
    	padding: 0 10px;
    	background-color: #fff;
    	color: #000;
    	font-size: 14px;
    	border-radius: 2px;
    	font-family: $gotambook;
    }
}
.current_page_item, .current-menu-item{
	background-color:$rojo;
	border-radius:5px;
}
div.contacto{
	background-image: url(img/game-starter-contacto.jpg);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	.capa{
		background-color: rgba(204, 204, 204, 0.92);
		height:100%;
		position:relative;
	
		h1{
			margin-top:0!important;
		}
		p{
			color:#4D4D4D;
			font-family:$gotambook;
			strong{
				font-family:$gotanmedium;
				color:$rojo;
			}
		}
		form{
			input,textarea{
				border: none!important;
	    		color: #808080;
			}
			textarea{
				height: 110px;
			}
			input[type="submit"]{
				background-color: #EA3B38;
	    		font-size: 20px;
	    		color: #fff;
	    		font-family: gotham_htfbold;
	    		width: 200px;
	    		border-radius: 3px;
	    		line-height: 1.7;
	    		position: relative;
	    		left: 50%;
	    		@include vendors(transform,translateX(-50%));
			}
		}
		#mapa{
			width: 100%;
	    	height: 280px;
	    	margin-top: 70px;
		}
	}
	@media(max-width:641px){
		height:auto;
		.capa{
			height:auto;
			padding:30px 5px;
		}
	}
}
div.nosotros{
	#home{
		.over{
			background: rgba(10, 0, 68, 0.79);
		}
	    height: 100vh;
	    color: #fff;
	    position: relative;
	    p{font-size:20px;}
	    h1{
			color: $verde;
   			font-family: $gotanbold;
		}
		padding-top: 45px;
		@media(max-width:640px){
			height: auto;
			padding-top:0px;
			h1{
				margin-top: 30px;
			}
		}
	}
	section:nth-of-type(2){
		.masters{
			margin-bottom:30px;
			.content{
				padding-top: 20px;
			}
		}
		border-top:5px solid $verde;
		padding:80px 5px 30px;
		.title{
			border-bottom:2px dashed $rojo;
			margin-bottom:0;
		}
		p{
			font-family:$gotambook;
			font-size:15px;
		}
	}
	.borde{
		border: 2px solid #01A28A;
    	padding: 6px;
    	height: 165px;
    	width: 165px;
    	border-radius: 50%;
    	position: relative;
    	margin: 5px auto;
	}
	.foto{
		height: 150px;
    	border-radius: 50%;
    	width: 150px;
    	background-position:center!important;
    	background-size: cover!important;    	
	}
}
.btn-red{
	background-color: #EA3B38;
	z-index: 10;
    color: #fff;
    font-family: gotham_htfbold;
    line-height: 2;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display:block;
    &:visited, &:active, &:hover, &:focus{
    	color: #fff!important;
    }
}
.fondear{	
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    text-align: center;
    font-size: 26px;
    @include vendors( transform, translate(-50%,50%) );
    @media(max-width:640px){
    	width: 360px;
    	padding: 0;
    	display: block;
    	img{
    		width:inherit;
    		max-width:inherit;
    	}
    }
    // @media(max-width:340px){
    // 	width:300px;
    // }
}
.aviso{
	padding:20px 40px 4px 40px;
	background-color:#E8E9EA;
	font-family:$gotambook;
	@media(max-width:640px){
		text-align: center;
	}
	a{color:$verde;}
	.face, .twitter{
		font-size:30px;		
	}
	.right{
		margin-top: -9px;
	}
}
.entry-meta{
	margin-bottom: 30px;
	font-size:20px;
	.autor{
		font-family:$gotanmedium;
	}
	.publicado{
		float:right;		
	}
	@media(max-width:640px){
		text-align: center;
		.publicado{float:inherit;}
	}
}
.carousel-feature{
	h5{
		text-align: center;
		color:$verde;
		font-family:$gotanbold;
	}
}
.paginacion{
	margin-bottom:30px;
	a, span.current{
	    background-color: #333333;
	    padding:5px 10px;
	    border-radius: 4px;
	    color: #fff;
	}
	span.current{
		background-color:$verde;
	}
}
#entry-header{
	h1{
		line-height: 1;
    	font-size: 36px;
    	padding: 20px 0 10px;
	}
	p{
		font-family: "gotham_htfbook" !important;
    	font-size: 24px;
    	margin: 0;
    	margin-bottom:15px;
	}
}
.caps{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.65);
	// background: rgba(255,255,255,1);
	// background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.83) 88%, rgba(0, 0, 0, 0.91) 100%);
	// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(88%, rgba(0,0,0,0.77)), color-stop(100%, rgba(0,0,0,0.74)));
	// background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.83) 88%, rgba(0, 0, 0, 0.91) 100%);
	// background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.83) 88%, rgba(0, 0, 0, 0.91) 100%);
	// background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.83) 88%, rgba(0, 0, 0, 0.91) 100%);
	// background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.83) 88%, rgba(0, 0, 0, 0.91) 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}
.single-proyecto{	
	.row{
		max-width: 72em;
		.contenidoproy{
			strong{
				color:$rojo;
				font-family:$gotanmedium;
			}
		}
		#descripcion{
			h2{
				font-family: gotham_htfbook;
				line-height: 1;
				margin-bottom: 30px;
			}
		}
	}
	section{
		height: 100vh;
		position: relative;
		.row{
			z-index: 1;
			@media(min-width:641px){
				padding-top: 70px;				
			}
		}
	}
	section:nth-of-type(1){
		overflow:hidden;
		background-color:#373670;
		p{
			color:#fff;
			font-size:16px;
		}
		h2{
			color:$verde;
		}
		form{
			text-align: center;
			p span{
				width:100%;
				display: block;
				float:left;
			}
			.nombre, .your-name{
				width: 48%;
				z-index: 1000;
				position: relative;
				display: block;
				float: left;
			}
			.apellido, .lastname{
				width: 48%;
				z-index: 1000;
				position: relative;
				display: block;
				float: right;
			}
			// .correo{
			// 	position: relative;
			// 	display: block;
			// 	width: 100%;
			// 	float: left;
			// }
			
		}
		#descripcion{
			ul{
				margin:0;
				li{ 
					color:$rojo;
					span{color:#fff;}
				}
			}
		}
		@media(max-width:641px){
			height: auto;
			.over{
				position:relative;
			}
			.nombre,.apellido{
				width: 100%;
			}
		}
	}
	#tips{
		@media(max-width:640px){
			padding-top:20px;
			height:auto;
		}
	}
	section:nth-of-type(3){
		.row{
			padding-top:inherit!important;
			@media(max-width:640px){
				padding:30px 5px;
			}
		}
	}
	footer{
		height: 250px;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover!important;
    	color: #fff;
	}
	.capa{
		height: 100%;
    	background-color: rgba(1, 162, 138, 0.75);
    	position: relative;
    	.center{
    		position:absolute;
    		top:50%;
    		left:50%;
    		@include vendors(transform,translate(-50%,-50%));
    		font-size:24px;    		
    		width:100%;
    		img{
    			width: 200px;
    		}
    	}
	}
}

.imgdestacad{
	position:absolute;
	bottom:0;
	@media(max-width:1000px) and (min-width:641px){
		width: 40%;
	}
}
.skew2{
	  
    position: absolute;
    width: 100%;
    background-color: rgba(42, 42, 86, 0.79);
    height: 100%;
    -webkit-box-shadow: 19px 2px 32px -10px rgba(14, 14, 14, 0.6);
    -moz-box-shadow: 19px 2px 32px -10px rgba(14, 14, 14, 0.6);
    box-shadow: 19px 2px 32px -10px rgba(14, 14, 14, 0.6);
	@media(min-width:641px){
	   	@include vendors(transform,skew(-16deg, 0deg));  
    	left: -48.7%;
	}
	@media(max-width:800px){
    	@include vendors(transform,skew(-8deg, 0deg)); 
    }
    @media(max-width:640px){
    	@include vendors(transform,skew(0deg, 0deg)); 
    }
    
}
.skew{
	position: absolute;
    height: 150%;
    right: -5%;
    width: 55%;
    background-color: #373670;
    top: 0;
    @include vendors(transform,skew(-17deg, 0deg));	
}
.artRel{
	margin-bottom:20px;
}

.item{
	height: 200px;
    width: 33%;
    margin:0 4px;
    display: block;
    background-position: center;
    background-size: cover!important;
   	h3{
		margin: 0;
   		font-size: 14px;
   		position: absolute;
   		bottom: 0;
   		background-color: rgba(0, 0, 0, 0.61);
   		color: #fff;
   		left: 0;
   		width: 100%;
   		font-family: gotham_htfmedium;
   		padding: 7px 0;
    }
    @media(max-width:640px){
    	width:50%;
    }
    @media(max-width:500px){
    	width:100%;
    }
}
#markleft,#markright{
	position: absolute;
	top:50%;
	cursor:pointer;
}
#markleft{	
	left:-45px;
	@include vendors(transform, translateY(-50%));
}
#markright{
	right:-45px;
	@include vendors(transform, translateY(-50%) rotate(-180deg));
}
.gallery-cell{
	padding:5px 10px;
}

.cuadros{
	margin: 0 auto 20px auto;
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
    width:100%;
	h4{
		position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	background-color: rgba(0, 0, 0, 0.7);
    	margin: 0;
    	color: #fff;
    	text-align: center;
	}
	img{
		@include vendors(transition,.3s linear);
	}
	&:hover{
		img{
			opacity:.7;
			@include vendors(transform, scale(1.1));
		}
	}
}

.privacidad{
	padding-top:40px;
	.row{
		margin-top:40px;
	}
	h1{text-align:center;}
	h3{		
		color:$verde;
	}
}
div.game{
	position:absolute;
	left:50%;
	color:$verde;
	@include vendors(transform, translateX(-50%));
}
#main{
	padding-top:80px;	
}
	#video{
		position: relative;
		overflow: hidden;
		z-index:1000;
	}
	iframe{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.tipines{
		position: absolute;
	    height: 400px;
	    @include vendors(transition,2s linear);
	}
	@mixin imagenes2(){
		img{position:relative;margin-top:65px;}	
		img:nth-of-type(1){width:70px;margin-top:0;}
		img:nth-of-type(2){width:100px;float:right;}		
		img:nth-of-type(3){width:100px;display:block;}
		img:nth-of-type(4){width:100px;float:right;}
		img:nth-of-type(5){width:70px;}		
		img:nth-of-type(6){width:100px;float:right;}				
	}
	.tizq{ 
		width:160px; left:3%;position:absolute;top:80%;
		@include imagenes2(); z-index:-1;
				
	}
	.tder{ 
		width:160px; right:3%;position:absolute;top:80%;
		@include imagenes2(); z-index:-1;
	}

#lang_sel_list{
	img.iclflag{
		margin:0 5px;
		display:block!important;
		width: 26px!important;
    	height: 18px!important;
    	top: -5px!important;
	}
}
#lang_sel_list {
    height: 32px;
    position: fixed;
    z-index: 100000000000;
    top: 20px;
    right: 8px;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #01A28A!important;
    color: #fff!important;
    background-color: rgba(0, 0, 0, 0.47)!important;
}
div.wpcf7-validation-errors {
    border: 2px solid #f7e700!important;
    color: #fff!important;
    background-color: rgba(247, 231, 0, 0.3)!important;
}
	.izquierda{
		float:left;
	}
	@media(max-width: 640px){
		.izquierda{
			float:inherit;
			text-align:center;
			padding-top:20px;
			padding-bottom:10px;
		}	
	}